@import '~font-awesome/css/font-awesome.css';

@font-face {
  font-family: 'Cygre';
  src: url('assets/fonts/fonts/cygre/Cygre-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5% !important;
}
/* Основные стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: 'Cygre', sans-serif;
}
